*

!/.gitignore
!/LICENSE
!/README.md

!/configuration.nix
!/hardware-configuration.nix
!/flake.nix
!/flake.lock

!/atraphaxiae.nix
!/atraphaxiae/
!/atraphaxiae/easyeffects.nix
!/atraphaxiae/firefox.nix
!/atraphaxiae/git.nix
!/atraphaxiae/i3.nix
!/atraphaxiae/mpd.nix
!/atraphaxiae/vscode.nix

!/dotfiles/
!/dotfiles/.bashrc
!/dotfiles/.fehbg
!/dotfiles/.xinitrc
!/dotfiles/bg.png
