*

!/.gitignore

!/configuration.nix
!/hardware-configuration.nix
!/flake.nix
!/flake.lock

!/atraphaxiae.nix
!/atraphaxiae/
!/atraphaxiae/firefox.nix
!/atraphaxiae/git.nix
!/atraphaxiae/i3.nix
!/atraphaxiae/vscode.nix

!/dotfiles/
!/dotfiles/.bashrc
!/dotfiles/.xinitrc
